body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./pokemon-bg.png") no-repeat;
    background-size: cover;
}

#content-box {
    width: 500px;
    height: 500px;
    border: 10px solid rgb(134, 173, 242);
    border-radius: 10px;
    /* background-color: green; */
    display: flex;
    margin: 0 auto;
    margin-top:100px;
    padding: 40px 40px 40px 40px;

    background: url("./pokeball.jpg") no-repeat;
    background-size: cover;
}

#pokemon-info {
    width: 250px;
    height: 500px;
    /* background-color: cyan; */
    text-align: center;
}

#pokemon-list {
    width: 250px;
    height: 500px;
    /* background-color: yellow; */
    font-size: 18px;
    overflow-y: auto; /* This is to make the list scrollable */
}

.pokemon-name {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    
}

.normal {
    background-color: beige;
    color: black;
    padding: 2% 4%;
}

.fire {
    background-color: orange;
    color: white;
    padding: 2% 4%;
    
}

.grass {
    background-color: green;
    color: white;
    padding: 2% 4%;
}

.water {
    background-color: blue;
    color: white;
    padding: 2% 4%;
}

.ice {
    background-color: lightblue;
    color: black;
    padding: 2% 4%;
}

.electric {
    background-color: gold;
    color: black;
    padding: 2% 4%;
}

.fighting {
    background-color: darkred;
    color: white;
    padding: 2% 4%;
}

.flying {
    background-color: skyblue;
    color: black;
    padding: 2% 4%;
}

.bug {
    background-color: yellowgreen;
    color: white;
    padding: 2% 4%;
}

.ghost {
    background-color: purple;
    color: white;
    padding: 2% 4%;
}

.rock {
    background-color: sienna;
    color: white;
    padding: 2% 4%;
}

.ground {
    background-color: burlywood;
    color: black;
    padding: 2% 4%;
}

.steel {
    background-color: silver;
    color: black;
    padding: 2% 4%;
}

.dark {
    background-color: darkgray;
    color: white;
    padding: 2% 4%;
}

.psychic {
    background-color: palevioletred;
    color: white;
    padding: 2% 4%;
}

.fairy {
    background-color: pink;
    color: black;
    padding: 2% 4%;
}

.dragon {
    background-color: teal;
    color: white;
    padding: 2% 4%;
}

.poison {
    background-color: darkviolet;
    color: white;
    padding: 2% 4%;
}

#pokemon-description {
    width : 230px;
    height: 100px;
    background-color: white;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    margin: 0 auto; /* This is to center the description box */
    margin-top: 10px;
    padding: 2% 2%;
    font-size: 15px;
    overflow-y: auto; /* This is to make the description box scrollable */
}

#logo img {
    width : 20%;
    height : auto;
    margin-top: 10px;
}